html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

#background {
    background-image: radial-gradient(ellipse, #add8e6, #424b5a);
    height: 100%;
}

#content_container {
    width: 1280px;
    height: 720px;
    margin: 0px auto;
    padding-top: 30px;
}

#map {
    width: 100%;
    height: 720px;
    margin-top: 20px;
}

h1 {
    font-family: sans-serif;
    display: inline;
}